<!DOCTYPE html>
<html>
<head>
  <title>PortfolioApp</title>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Roboto:100,300,500,700' %>
  <%= stylesheet_link_tag 'application', "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"  %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
      <div class="header">
   <div class="container">
        <div class="row">
             <div class="menu col-xs-8">
                  <ul> 
                      <li><a href="/">Welcome</a></li>
                      <li><a href="portfolio">Portfolio</a></li> 
                      <li><a href="#">Blog</a></li>
                      <li><%= link_to "About", about_path %></li>
                      <li><%= link_to "Contact Us", new_contact_path %></li>
                      
                 </ul>
             </div>
          <div class="name col-xs-4">
               <h1>Sounkoun Soumare</h1>
          </div> 
        </div> 
    </div>
</div>
<%= yield %>
<div class="footer">
		  <div class="container"> 
    		  <ul class="social_media"> 
    		      
        		  <li><a class="github" href="https://github.com/vsoumare" target="_blank"><%= image_tag('github-big-logo.png') %></a></li> 
        		  <li><a class="linkedin" href="https://www.linkedin.com/m/" target="_blank"><%= image_tag('linkedin-logo.png') %></a></li> 
        		  <li><a class="twitter" href="https://twitter.com/Vsoumare" target="_blank"><%= image_tag('twitter-logo-silhouette.png') %></a></li> 
    		  </ul> 
		      <p>© 2016 Sounkoun Soumare</p> 
		  </div>
</div>
</body>
</html>
